

{% extends 'base_layout.html' %}
{% block content %}






<style>

    
    /* Styles for the table */
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 8px;
    text-align: left;
}

 */

table tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
}

/* General styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1.title {
    background-color: blue; /* Set h1 background color to blue */
    color: white; /* Set text color for h1 */
    padding: 10px;
}

ul.breadcrumbs {
    list-style: none;
    padding: 0;
    background-color: #f0f0f0; /* Set breadcrumbs background color */
    margin-top: 10px;
}

ul.breadcrumbs li {
    display: inline-block;
    padding: 5px;
}

ul.breadcrumbs li.divider {
    margin: 0 5px;
    color: #999;
}

ul.breadcrumbs li a {
    text-decoration: none;
    color: blue; /* Set link color for breadcrumbs */
}

ul.breadcrumbs li a.active {
    color: black; /* Set active link color */
    font-weight: bold;
}

</style>



<body>
<div class="main">
<section id="content">
    <main>
        <h1 class="title">SUPPLIERS</h1>
        <ul class="breadcrumbs">
            <li><a href="{% url 'base' %}">Home  </a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">VIEW SUPPLIERS</a></li>
        </ul>
        {% if suppliers %}
            <main>
                <h2>SUPPLIER</h2>
                <table border='3' class='table table-striped'>
                    <th>Supplier name</th><th> Address</th><th> Email</th><th>Mobile</th><th>Category</th><th>GST no.</th><th>action</th><th></th>
                    {% for supplier in suppliers %}
                        <tr>
                            <td>{{ supplier.sup_name }}</td>
                            <td>{{ supplier.sup_add }}</td>
                            <td>{{ supplier.sup_email }}</td>
                            <td>{{ supplier.sup_mob }}</td>
                            <td>{{ supplier.sup_category }}</td>
                            <td>{{ supplier.sup_gstno }}</td>
                            <td><a href="{% url 'supplier_edit' supplier.id %}">edit</a>/<a href="{% url 'supplier_del' supplier.id %}">Delete</a></td>

                        </tr>
                    {% endfor %}
                </table>
            </main>
        {% else %}
            <p>No products found in the database.</p>
        {% endif %}
    </main>
</section>
{% endblock content %}

</div> 
</body>
</html>